.name {
    width: 500px;
    float: center;
    size: 1fr;
    border-width: 20px;
    border-color: black;
    text-align: center;
}

.headshot {
    width: 100px;
}

.page-body {
    display: inline;
}