.name {
    width: 500px;
    float: center;
    size: 1fr;
    border-width: 20px;
    border-color: black;
    text-align: center;
}

.top-container {
    display: grid;
    grid-template-columns: 150px 1fr 195px;
    justify-content: center;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 {
    text-align: center;
}

.container3 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.name {
    width: 500px;
}

.back-button {
    width: 175px;
    height: 75px;
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    border-color: rgb(133, 178, 94);
}

.about-image {
    width: 150px;
}

.back-image {
    width: 150px;
}

.page-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.headshot {
    width: 150px;
}

.page-body {
    display: inline;
}

.linked-logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.linkedin {
    background-color: green;
}

.github {
    background-color: blue;
}

.email {
    background-color: orange;
}