.name {
    width: 500px;
}

.top-container {
    display: grid;
    grid-template-columns: 150px 1fr 195px;
    justify-content: center;
    column-gap: 30px;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.container2 {
    text-align: center;
}

.container3 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.back-button {
    width: 175px;
    height: 75px;
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    background-color: transparent;
    border-color: rgb(133, 178, 94);
}

.back-image {
    width: 150px;
}

.page-body {
    display: grid;
    grid-template-columns: 350px 1fr;
}

.headshot {
    width: 300px;
}

.headshot-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-blurb {
    padding: 20px;
}

.important-info {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.page-layout {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
}

.about-header {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume-download {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(133, 178, 94);
    border-radius: 40px;
}

.immediate-email {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: rgb(133, 178, 94);
    border-radius: 40px;
    border-style: solid;
}