.logo-links {
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
    column-gap: 10px;
}

.linkedin-png {
    border-style: hidden;
    width: 50px;
}

.github-png {
    border-style: hidden;
    width: 50px;
}

.email-png {
    border-style: hidden;
    width: 50px;
}

.other-links {
    border-style: hidden;
    background-color: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkedin {
    display: flex;
    align-items: right;
    justify-content: right;
}

.github {
    display: flex;
    align-items: center;
    justify-content: center;
}

.email {
    display: flex;
    align-items: left;
    justify-content: left;
}