.layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    row-gap: 50px;
}

.spacing {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px; 
}

.blurb {
    border-style: solid;
    border-color: rgb(133, 178, 94);
    border-radius: 40px;
    padding: 10px;
    height: 300px;
    
}
