
img {
    width: 300px;
    float: left;
    margin-right: 10px;
}

button.about-button {
    color: white;
    background: rgb(132, 201, 74);
    padding-left: 40 px;
    padding-right: 40 px;
    padding-top: 20 px;
    padding-bottom: 20 px;
}